.dashboard {
  font-family: Arial;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #0f172a;
  color: white;
}

/* LAYOUT */
.layout {
  display: flex;
  flex: 1;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 10px;
}

.courtCard {
  background: #1f2937;
  margin: 8px 0;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
}

.high { color: red; }
.medium { color: orange; }
.low { color: green; }

/* MAIN */
.main {
  flex: 1;
  padding: 10px;
  background: #f3f4f6;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

/* RIGHT PANEL */
.rightPanel {
  width: 220px;
  background: #111827;
  color: white;
  padding: 10px;
}

.adminPanel button,
.userBox button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  cursor: pointer;
}

/* MODAL */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .sidebar,
  .rightPanel {
    width: 100%;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
